{{ 'forward-zone:' }}
{{ '  name: \"' + uf['name'] + '\"' }}
{% if uf['forward_address'] is defined and uf['forward_address']
  not in ['', [], '[]', None] %}
{% for ufa in uf['forward_address'] %}
{% if ufa['address'] is ansible.utils.ip() %}
{% if ufa['port'] is defined and ufa['port'] not in ['', [], '[]', None] %}
{{ '  forward-addr: ' + ufa['address'] + '@' ~ ufa['port'] }}
{% else %}
{{ '  forward-addr: ' + ufa['address'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if uf['forward_host'] is defined and uf['forward_host']
  not in ['', [], '[]', None] %}
{% for ufh in uf['forward_host'] %}
{% if ufh['port'] is defined and ufh['port'] not in ['', [], '[]', None] %}
{{ '  forward-host: ' + ufh['host'] + '@' ~ ufh['port'] }}
{% else %}
{{ '  forward-host: ' + ufh['host'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if uf['forward_first'] is defined and uf['forward_first'] in ['yes', 'no'] %}
{{ '  forward-first: ' + uf['forward_first'] }}
{% endif %}
{% if uf['forward_ssl_upstream'] is defined and uf['forward_ssl_upstream'] in
  ['yes', 'no'] %}
{{ '  forward-ssl-upstream: ' + uf['forward_ssl_upstream'] }}
{% endif %}
