{{ 'stub-zone:' }}
{{ '  name: \"' + us['name'] + '\"' }}
{% if us['stub_address'] is defined and us['stub_address']
  not in ['', [], '[]', None] %}
{% for uss in us['stub_address'] %}
{% if uss['address'] is ansible.utils.ip() %}
{% if uss['port'] is defined and uss['port'] not in ['', [], '[]', None] %}
{{ '  stub-addr: ' + uss['address'] + '@' ~ uss['port'] }}
{% else %}
{{ '  stub-addr: ' + uss['address'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if us['stub_host'] is defined and us['stub_host']
  not in ['', [], '[]', None] %}
{% for ush in us['stub_host'] %}
{% if ush['port'] is defined and ush['port'] not in ['', [], '[]', None] %}
{{ '  stub-host: ' + ush['host'] + '@' ~ ush['port'] }}
{% else %}
{{ '  stub-host: ' + ush['host'] }}
{% endif %}
{% endfor %}
{% endif %}
{% if us['stub_first'] is defined and us['stub_first'] in ['yes', 'no'] %}
{{ '  stub-first: ' + us['stub_first'] }}
{% endif %}
{% if us['stub_ssl_upstream'] is defined and us['stub_ssl_upstream'] in ['yes',
  'no'] %}
{{ '  stub-ssl-upstream: ' + us['stub_ssl_upstream'] }}
{% endif %}
